@model E_Ticaret_Giyim.Models.EMAIL

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Sil</h2>

<h3>Bu mesajı silmek istediğine emin misin?</h3>
<div>
    <h4>KULLANICILAR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Kullanıcı Adı
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Special1)
        </dd>
        <dt>
            Kullanıcı Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Special2)
        </dd>
        <dt>
            Konu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Konu)
        </dd>
        <dt>
            Mesaj
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mesaj)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Listeye Dön", "Index")
        </div>
    }
</div>
