@model IEnumerable<E_Ticaret_Giyim.Models.EMAIL>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Mesajlar</h2>


<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col"> Kullanıcı Ad</th>
            <th scope="col"> Kullanıcı Email</th>
            <th scope="col"> Konu</th>
            <th scope="col"> Mesaj</th>
            <th scope="col"> </th>
            <th scope="col"> </th>
            <th scope="col"> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td> @Html.DisplayFor(modelItem => item.Special1)</td>
            <td> @Html.DisplayFor(modelItem => item.Special2)</td>
            <td> @Html.DisplayFor(modelItem => item.Konu)</td>
            <td> @Html.DisplayFor(modelItem => item.Mesaj)</td>
            <td> @Html.ActionLink("Detay", "Details", new { id = item.Email_ID })</td>
            <td> @Html.ActionLink("Sil", "Delete", new { id = item.Email_ID })</td>
            <td> @Html.ActionLink("CevapVer", "CevapVer", new { id = item.Email_ID })</td>
        </tr>
        }
    </tbody>
</table>